<% all_products = Product.includes(:user).all %>
<h2>Hello World</h2>

<p>
<ul><% all_products.each do |product| %>
  <li><ul>
    <li>Name: <%= product.name %></li>
    <li>Price: <%= product.price %></li>
    <li>Customer: <%= product.user.name %></li>
  </ul></li><br/>
  <% end %>
</ul>
</p>

<footer>
<p>
  Find me in <%= Rails.root.join("app", "views", "products", __FILE__ ) %>
</p>
</footer>
