
<h2>Add a new product</h2>

<form method="post" action="/products/createa">
  <label for="name-input">Name</label><br/>
  <input type="text" id="name-input" name="product[name]" size="30" />
  <br/>
  <label for="price-input">Price</label><br/>
  <input type="number" id="price-input" name="product[price]" />
  <br/>
  <br/>
  <input type="submit" value="Create Product" />
</form>
